<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Your Expense</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/add.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/modelstyle.css" />
  </head>
  <body>
    <%-include("includes/header.ejs"); %>

    <div id="successModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideModal()">×</span>
        <div class="icon">
          <i class="fas fa-check-circle success-icon"></i>
        </div>
        <h3>Success</h3>
        <p id="modal-msg">Message goes here</p>
        <button class="btn-ok" onclick="hideModal()">OK</button>
      </div>
    </div>

    <main class="main ">
      <a
        href="#"
        onclick="history.back(); return false;"
        class="back"
        title="Go Back"
        ><i class="fa-solid fa-right-from-bracket"></i
      ></a>
      <div class="container">
        <h1>Edit Your Expense</h1>

      </div>

      <form  class="form container">
        <div class="<%= id %>" id="exp-id"></div>
        <div class="items container">
          <label for="Date">Date:</label>
          <input type="date" name="Date" id="date-box"  value="<%= expense.date%>" required />
        </div>
        <div class="items">
          <label for="Amount">Amount</label>
          <input type="text" class="input-box" name="Amount" value='<%= expense.amount %>' id="exp-amount" required />
        </div>

        <div class="items container">
          <label for="Category">Category :</label>
          <select name="Category" id="category" class="selections" required >
            <option value="<%= expense.cat %>" selected><%= expense.cat %></option>
            <option value="Groceries">Groceries</option>
            <option value="Utilities">Utilities</option>
            <option value="Food">Food</option>
            <option value="Others">Others</option>
            <option value="Book">Book</option>
            <option value="Health">Health</option>
            <option value="Stationary">Stationary</option>
            <option value="Transport">Transport</option>
            <option value="Shopping">Shopping</option>
            <option value="Gift">Gift</option>
            <option value="Housing">Housing</option>
          </select>
        </div>
        <div class="items container">
          <label for="Merchant">Merchant</label>
          <input type="text" class="input-box" name="Merchant" value="<%= expense.merc %>" id="exp-merchant" required />
        </div>
        <div class="items container">
          <label for="paymethod">Payment Method</label>
          <select name="paymentMethod" id="pay" class="selections" required>
            <option value="<%= expense.method %>" selected><%= expense.method %></option>
            <option value="CASH">CASH</option>
            <option value="UPI">UPI</option>
            <option value="Net Banking">Net Banking</option>
          </select>
        </div>
        <div class="items container">
          <label for="Description">Description:</label>
          <textarea
            name="Description"
            id="desc"
            placeholder="Write Description of the Expense. "
            required
          ><%= expense.desc %></textarea>
        </div>
        <div class="items container">
          <button id="savebtn">Save</button>
        </div>
      </form>
    </main>
    <%-include("includes/footer.ejs") %>
    <script src="/scripts/model.js"></script>
    <script src="/scripts/editExpense.js"></script>
  </body>
</html>
